.main{
    background-image: url("/Users/tylerkubecka/Desktop/sparkarg/sparkarg/public/assets/Pharma Email.png");
    background-size: 540px 384px;
    background-position: center center;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;

    width: 540px;
    height: 384px;

}



.closeButton {
    position: relative;
    display: flex;
 align-items: center;
 justify-content: center; 
    top: -115px;
    left: 220px;
    width: 15px;
    height: 15px;
    border: 15px solid blue;
    cursor: pointer;
}

.textBox {
   position: absolute;
   display: flex;
   align-items: left;
   top: 265px;
   left: 175px;
   width: 100px;
   height: 12px; 
   border: 0px;

}

input {
    width:50%;
    border:0px;
    font-size: 8px;
}

